.App {
  text-align: center;
}

*{

  background-color: cornflowerblue;
}

h1 {

  font-size: 7em;
}

.Enter {
font-size: 2em;

}

button {

  top:50%;
  background-color:#1111ad;
  box-shadow: 0px 0px 2px 2px rgb(173, 54, 54);
  color: #fff;
  border:none;
  font-size: 1em;
}


.Text {

  text-align: center;
  font-size: 20pt
}

footer {

  background-color: #424242;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}